@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<WebApplicationProject.Models.Album>

@{
    ViewData["Title"] = "Index";
    var albums = Model.ToList();
    var itemCount = 0;
}


<div>
    @foreach (var album in Model)
    {
        var insertRow = itemCount % 3 == 0;

        if (insertRow)
        {
            @Html.Raw("<div class='row'>")
        }
        <div class="col-md-4">
            <h1 class="text-center">@Html.DisplayFor(model => album.Band.Name)</h1>
            <h2 class="text-center">@Html.DisplayFor(model => album.Title)</h2>
            <div class="text-center">
                <a asp-action="Details" asp-controller="Album" asp-route-id="@album.AlbumID">
                    @if (album.CoverArt != null)
                    {
                        <img src="~/images/@album.CoverArt"
                             height="200" width="200" />
                    }
                    else
                    {
                        <img src="~/images/noImageAvailable.jpg" height="200" width="200" />
                    }
                </a>
            </div>
            <p class="text-center">@Html.DisplayFor(model => album.ReleaseDate)</p>
        </div>

        itemCount++;

        insertRow = itemCount % 3 == 0;

        if (insertRow)
        {
            @Html.Raw("</div>")
        }
    }
</div>