@model WebApplicationProject.Models.BandArtist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>BandArtist</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BandArtistID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
