@*@{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>*@

@model IEnumerable<WebApplicationProject.Models.Album>

@{
    ViewData["Title"] = "Index";
    var albums = Model.ToList();
    var itemCount = 0;
}


<div>
    @foreach (var item in Model)
    {
        var insertRow = itemCount % 3 == 0;

        if (insertRow)
        {
            @Html.Raw("<div class='row'>")
        }

        @*<div class="row">*@
        <div class="col-4">
            <h1 class="text-center">@Html.DisplayFor(model => item.Band.Name)</h1>
            <h2 class="text-center">@Html.DisplayFor(model => item.Title)</h2>
            <div class="text-center">
                <a asp-action="Details" asp-controller="Album" asp-route-id="@item.AlbumID">
                    @if (item.CoverArt != null)
                    {
                        <img src="~/images/@item.CoverArt"
                             height="200" width="200" />
                    }
                    else
                    {
                        <img src="~/images/noImageAvailable.jpg" height="200" width="200" />
                    }
                </a>
            </div>
            <p class="text-center">@Html.DisplayFor(model => item.ReleaseDate)</p>
        </div>

        itemCount++;

        insertRow = itemCount % 3 == 0;

        if (insertRow)
        {
            @Html.Raw("</div>")
        }
    }
</div>
